<footer class="footer-area section-gap">
    <div class="container">

        <div class="row">
            <div class="col-lg-6  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Parking de l'aéronautique</h6>
                    <p>06 02 11 24 10</p>
                    <p>resa@parking-aeronautique.com</p>
                    <p>
                        19, rue de l'Aéronautique
                        44340 Bouguenais
                        France 
                    </p>
                    <p>N° Siret : 843 493 644 00010</p>
                    <p>Latitude : 47° 9' 52.992" N </p>
                    <p>Longitude : 1° 35' 5.741" W</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#">Accueil</a></li>
                                <li><a href="#">Parkings</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Avis clients</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">Mentions légales</a></li>
                                <li><a href="#">Conditions générales de vente</a></li>
                                <li><a href="#">Politique des données </a></li>
                            </ul>
                        </div>										
                    </div>							
                </div>
            </div>												
        </div>

        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Developped By <a href="https://vumartin.fr" target="_blank">Martin VU</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>